<form  [formGroup]="laboratorioForm" (ngSubmit)="guardar()" >
  Código
  <input type="text" class="form-control" formControlName="codigo">
  Nombre
  <input type="text" class="form-control" formControlName="descripcion">

  <button type="submit" class="btn btn-primary">Guardar</button>
  <button type="reset" class="btn btn-success">Nuevo</button>
</form>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">CÓDIGO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bean of laboratorios">
      <td>{{bean.codigo}}</td>
      <td>{{bean.descripcion}}</td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>
