<div style="padding-left:25px ;">
    <div class="row page-titles" style="background: transparent;">
        <div class="col-md-12 align-self-center">
            <ol class="breadcrumb" style="font-size: 21px;">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">TIPO DE CAMBIO</a>
                </li>
            </ol>
        </div>
    </div>
    <div [ngIf]="visibletabla">
        <div class="d-flex">
            <div class="col-6" style="padding: 0;">
                <div class="d-flex">
                    <div>
                        <button mat-raised-button class="btn btn-info waves-effect waves-light btn-sm" type="button" (click)="openModals(null, 1)">NUEVO</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3" style="padding: 0;margin-left: 2%;">
                <div>
                    <ng-select [items]="listaMonedas" placeholder="Todos" bindLabel="moneda" autofocus bindValue="id" name="estdo" id="estadopresupuesto" style="width: 90%">
                    </ng-select>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <h5> Moneda origen :</h5>
                    <div class="controls">
                        <select class="form-control" name="monedaorigen" [(ngModel)]="opcmoneda" (change)='listarFiltro(opcmoneda)'>
                            <option [ngValue]="item" *ngFor="let item of listaMonedas">{{item.moneda}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div class=table-responsive style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CÓDIGO</th>
                        <th scope="col">MONEDA ORIGEN</th>
                        <th scope="col">MONEDA DESTINO</th>
                        <th scope="col">TIPO DE CAMBIO</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of lista">
                        <td>{{obj.id}}</td>
                        <td>{{obj.moneda_origen?.moneda}}</td>
                        <td>{{obj.moneda_destino?.moneda}}</td>
                        <td>{{obj.tipo_cambio}}</td>
                        <td>{{obj.fecha}}</td>
                        <td>
                            <button mat-raised-button class="btn btn-info waves-effect waves-light btn-sm" type="button" (click)="openModals(obj, 2)">EDITAR</button>
                            <button mat-raised-button class="btn btn-success waves-effect waves-light btn-sm" type="button" (click)="eliminar(obj)">ELIMINAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div *ngIf="visibleform">
        <div class="col-9 mt-3 mb-3" style="border:2px solid #d6d6d6; border-radius: 15px; padding: 10px;flex: 0 0 48%; margin: 0 auto;">

            <form class="example-container" [formGroup]="form" #frm="ngForm" (ngSubmit)="operar()">
                <h1 mat-dialog-title>{{IU}} TIPO DE CAMBIO</h1>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5> Codigo :</h5>
                                <div class="controls">
                                    <input type="text" class="form-control" formControlName="id" [disabled]="false">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5> Tipo de cambio :</h5>
                                <div class="controls">
                                    <input type="text" class="form-control" formControlName="tipo_cambio" [disabled]="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5> Fecha :</h5>
                                <div class="controls">
                                    <input type="date" class="form-control" formControlName="fecha">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5> Moneda origen :</h5>
                                <div class="controls">
                                    <select class="form-control" formControlName="moneda_origen">
                                        <option [value]="item.id" *ngFor="let item of listaMonedas">{{item.moneda}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5> Moneda destino :</h5>
                                <div class="controls">
                                    <select class="form-control" formControlName="moneda_destino">
                                        <option [value]="item.id" *ngFor="let item of listaMonedas">{{item.moneda}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect waves-light btn-sm" (click)="cancelar()">
                        <a>Cancelar</a> </button>
                    <button type="submit" [disabled]="frm.invalid" class="btn btn-primary waves-effect waves-light btn-sm" data-dismiss="modal">
                        <a>{{boton_primario}}</a></button>
                </div>
            </form>
        </div>
    </div> -->

</div>